<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="demo.css" />
    <script src="handlebars-v4.7.7.js"></script>
    <script
      src="http://code.jquery.com/jquery-latest.min.js"
      type="text/javascript"
    ></script>
  </head>
  <body style="background-image: url(compp.jpg)">
    <div id="flexwrap" style="display: flex">
      <div>
        <ul id="navbar" style="margin-right: 20px; margin-top: 40px">
          <li
            style="
              background-color: red;
              height: 60px;
              padding-top: 30px;
              text-align: center;
              font-size: 30px;
              color: white;
            "
          >
            <b> iJAVASCRIPT</b>
          </li>
          <li style="height: 50px;"><button id="dashb-button" style="width: 300px;height:50px;">DASHBOARD</button></li>
          <li style="height: 50px;"><button id="about-button"type="button" style="width: 300px;height:50px;" onclick="window.open('C:/handlebarproj/about.html','_parent');">
            ABOUT</button></li>
          <li style="height: 50px;"><button id="team-button" type="button" style="width: 300px;height:50px;" onclick="window.open('C:/handlebarproj/team.html','_parent')">TEAM</button></li>
        </ul>
      </div>
      <div>
        <ul
          id="navbar2"
          style="margin-top: 60px; margin-left: 20px; width: 500px"
        >
          <h1 style="font-size: x-large; margin-left: 20px">Welcome{{name}}</h1>
          <p style="font-size: small; margin-left: 20px">Last login:</p>
          <hr />
          <p
            style="
              color: red;
              font-size: 20px;
              margin-left: 20px;
              font-weight: bold;
            "
          >
            Account Balance:{{balance}}

            <table>
              <tr>
                <th>Date</th>
                <th>Description</th>
                <th>Amount</th>
              </tr>
              
              <tr>
                <td>1-Feb-2018</td>
                <td>Room Rent</td>
                <td>700</td>
              </tr>
              <tr>
                <td>2-Feb-2018</td>
                <td>Morission</td>
                <td>20</td>
              </tr>
             
            </table>
          </p>
        </ul>
      </div>
    </div>
  </body>
</html>
